{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'user/cadastro.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <title>Cadastro</title>
</head>
<body>
    <div class="container mt-5">
        <form class="form">
            <p class="title">Cadastro </p>
            <p class="message">Signup now and get full access to our app. </p>
            <div class="row">
                <div class="input-group col">
                    <input required="" type="text" name="nome" autocomplete="off" class="input nome">
                    <label class="user-label">Nome</label>
                </div>
                <div class="input-group col">
                    <input required="" type="text" name="sobrenome" autocomplete="off" class="input sobrenome">
                    <label class="user-label">Sobrenome</label>
                </div>
            </div>  
                    
            <div class="input-group">
                <input required="" type="text" name="email" autocomplete="off" class="input">
                <label class="user-label">Email</label>
            </div>
                
            <div class="input-group">
                <input required="" type="text" name="senha" autocomplete="off" class="input">
                <label class="user-label">Senha</label>
            </div>
            <div class="input-group">
                <input required="" type="text" name="confirm_senha" autocomplete="off" class="input">
                <label class="user-label">Confirmação de senha</label>
            </div>
            <button class="submit">Submit</button>
            <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
        </form>
    </div>
</body>
</html>