{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'user/base_user.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <title>Login</title>
</head>
<body>
    <div class="container mt-5">
        <form class="form p-2" method="post" action="{% url 'entrar' %}">
            {% csrf_token %}
            <p class="title">Entrar </p>
            <p class="message">Bem-vindo de volta. </p>
            <div class="row pl-3 pr-3">

                <div class="group input-group mt-4">
                    <input required="" type="text" name="email" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>

                <div class="group input-group mt-4">
                    <input required="" type="password" name="senha" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Senha</label>
                </div>

            </div>  
            <div class="d-flex justify-content-center mt-4">
                <button class="button-cadastrar" type="submit">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front">
                      Entrar
                    </span>
                </button>
            </div>
            <p class="signin d-flex justify-content-center mb-0 mt-1">Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastrar</a> </p>

        </form>
        {% for mensagem in messages %}
            {% if mensagem.tags == 'success' %}
                <div class="alert alert-success" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg"  
                    viewBox="0 0 48 48" width="25px" height="25px">
                    <path fill="#4caf50" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"/>
                    <path fill="#ccff90" d="M34.602,14.602L21,28.199l-5.602-5.598l-2.797,2.797L21,33.801l16.398-16.402L34.602,14.602z"/>
                </svg>{{ mensagem }}
                </div>
            {% endif %}
            {% if mensagem.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ mensagem }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>