{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'user/pagina_inicial.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>Dashboard</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 pt-4 d-flex d-md-block sidebar">
            <div class="container titulo-dados-candidato">
                <p>Dados do Usuário</p>
            </div>
            <div class="sidebar-sticky d-flex flex-column pt-3" style="height: 90vh;">
                <ul class="nav p-2 d-flex flex-column">
                    <li class="nav-item p-2">
                        <label>Nome</label>
                        <p>{{ nome }} {{ sobrenome }}</p>
                    </li>
                    <li class="nav-item p-2">
                        <label>Email</label>
                        <p>{{ email }}</p>
                    </li>
                    <!-- Movido o botão "Encerrar Sessão" para baixo -->
                </ul>
                <!-- Movido o bloco de fechamento da lista para baixo -->
                <ul class="nav mt-auto p-2">
                    <li class="nav-item">
                        <a class="nav-link logout-btn" href="{% url 'sair' %}">Encerrar Sessão<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="col-md-10 pt-4 home-section">
            <div class="row m-2 justify-content-between">
                <div class="col-xxl-4 col-md-5 card">
                    <div class="cad-title"><h5 class="title">Formulários Cadastrados</h5></div>
                    <div class="card-body d-flex">
                        <span class="icon-form"><i class="bi bi-file-earmark-text"></i></span><h3 class="ml-2">{{ quantidade_formulario }}</h3>
                    </div>
                </div>
                <div class="col-xxl-4 col-md-5 card">
                    <div class="cad-title"><h5 class="title">Respostas Recebidas</h5></div>
                    <div class="card-body d-flex">
                        <span class="icon-form"><i class="bi bi-check2-square"></i></span><h3 class="ml-2">{{ quantidade_resposta }}</h3>
                    </div>
                </div>
                <div class="search mt-3 col-12">
                    <input type="text" id="input_busca" class="search__input" placeholder="Type your text">
                    <button class="search__button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="container-form mt-1 col-12">
                    {% if formularios %}
                        <table class="table">
                            {% for formulario in formularios %}
                            <tbody id="table_form">
                            <a href="#">
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ formulario.nome }}</td>
                                    <td>{{ formulario.data }}</td>
                                    <td>
                                        <a href=""><button class="btn-icons"><i class="bi bi-trash"></i></button></a>
                                        <a href=""><button class="btn-icons"><i class="bi bi-pencil-square"></i></i></button></a>
                                        <a href="{% url 'respostas' formulario.id %}"><button class="btn-icons"><i class="bi bi-reception-4"></i></button></a>
                                        <a href=""><button class="btn-icons"><i class="bi bi-eye-fill"></i></button></a>
                                    </td>
                                    
                                </tr>
                            </a>
                            </tbody>
                            {% endfor %}
                        </table>
                    {% else %}
                        <h3>Você ainda não cadastrou formulário</h3>
                    {% endif %}
                </div>
                <a href="{% url 'criar_formulario' %}" class="mt-4 col-12">
                    <div>
                        <div class="">
                            <button class="button-cadastrar">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                Criar Formulário
                                </span>
                            </button>
                        </div>
                    </div>
                </a>
            </div>

        </section>
      </div>
    </div>

    <script src="{% static 'candidato/js/candidato.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  </body>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var inputBusca = document.getElementById('input_busca')
        var listaResultado = document.getElementById('table_form')

        inputBusca.addEventListener('input', function() {
            var term = inputBusca.value

            fetch('/user/formulario/?term=' + term)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro de rede')
                    }
                    return response.json()
                })
                .then(data => {
                    listaResultado.innerHTML = ''

                    data.formularios.forEach((formulario, index) => {
                        var row = listaResultado.insertRow()
                        var ind = row.insertCell()
                        var nome = row.insertCell()
                        var data = row.insertCell()
                        var action = row.insertCell()

                        ind.textContent = index + 1
                        nome.textContent = formulario.nome
                        data.textContent = formulario.data

                    });
                })
                .catch(error => {
                    console.error('Error during fetch operation:', error);
                });
        })
    })
  </script>
</html>