{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'formulario/criar_formulario.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <title>Formulário Dinâmico</title>
</head>
<body>

<div class="container mt-5 formulario p-5">
    <h2 class="mb-4 titulo">Criar Formulário</h2>

    <form id="formularioDinamico" method="post" action="{% url 'criar_formulario' %}">
        {% csrf_token %}
        <input type="hidden" name="num_questoes" id="num_questoes" value="0">
        <div class="form-group mb-4">
            <label for="titulo"><h4>Título do Formulário</h4></label>
            <input type="text" class="form-control input-text" id="titulo" name="titulo" required>
        </div>

        <div class="form-group">
            <label for="descricao"><h4>Descrição</h4></label>
            <textarea class="form-group input-text" id="descricao" name="descricao" rows="3"></textarea>
        </div>
 
        <div id="questoes-container">
            <!-- Aqui serão adicionadas as questões dinamicamente -->
        </div>


        <button type="button" class="btn pushable" onclick="adicionarQuestao()">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front">
              Adicionar Questão
            </span>
        </button>
        <button type="submit" class="pushable">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front">
              Salvar
            </span>
        </button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    let questaoCount = 1;

    function capitalize(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
    }

    function adicionarQuestao() {
        const container = document.getElementById('questoes-container');
        const questaoCount = container.getElementsByClassName('card').length + 1;

        const cardDiv = document.createElement('div');
        cardDiv.className = 'card mt-3 mb-3 card-questao';

        const cardBodyDiv = document.createElement('div');
        cardBodyDiv.className = 'card-body';

        const formGroupQuestao = document.createElement('div');
        formGroupQuestao.className = 'form-group';

        const labelQuestao = document.createElement('label');
        labelQuestao.setAttribute('for', `questao${questaoCount}`);
        labelQuestao.innerText = `Questão ${questaoCount}:`;

        const inputQuestao = document.createElement('input');
        inputQuestao.type = 'text';
        inputQuestao.className = 'form-control input-text';
        inputQuestao.id = `questao${questaoCount}`;
        inputQuestao.name = `questao${questaoCount}`;
        inputQuestao.required = true;

        formGroupQuestao.appendChild(labelQuestao);
        formGroupQuestao.appendChild(inputQuestao);

        const formGroupTipo = document.createElement('div');
        formGroupTipo.className = 'form-group';

        const labelTipo = document.createElement('label');
        labelTipo.setAttribute('for', `tipo${questaoCount}`);
        labelTipo.innerText = 'Tipo de Questão:';

        const selectTipo = document.createElement('select');
        selectTipo.className = 'form-control';
        selectTipo.id = `tipo${questaoCount}`;
        selectTipo.name = `tipo${questaoCount}`;
        selectTipo.setAttribute('onchange', 'tipoQuestaoChange(this)');
        selectTipo.required = true;

        // Adicione as opções ao elemento select
        const tipos = ['escolha_unica', 'multipla_escolha', 'texto', 'true_false', 'data', 'numero'];
        tipos.forEach(function(tipo) {
            const option = document.createElement('option');
            option.value = tipo;
            option.text = capitalize(tipo.replace('_', ' ')); // Adicione um método capitalize se necessário
            selectTipo.appendChild(option);
        });

        formGroupTipo.appendChild(labelTipo);
        formGroupTipo.appendChild(selectTipo);

        const formGroupOpcoes = document.createElement('div');
        formGroupOpcoes.className = 'form-group';
        formGroupOpcoes.id = `opcoes${questaoCount}`;

        const labelOpcoes = document.createElement('label');
        labelOpcoes.innerText = 'Opções de Resposta:';

        const buttonAdicionarOpcao = document.createElement('button');
        buttonAdicionarOpcao.type = 'button';
        buttonAdicionarOpcao.className = 'botao-icon';
        buttonAdicionarOpcao.setAttribute('onclick', `adicionarOpcao(${questaoCount})`);
        var icone = document.createElement("i");
        icone.className = "fas fa-plus";
        icone.textContent = "+";
        buttonAdicionarOpcao.appendChild(icone)

        const divFormCheck = document.createElement('div');
        divFormCheck.className = 'form-check';

        const inputOpcaoCont = document.createElement('input');
        inputOpcaoCont.type = 'hidden';
        inputOpcaoCont.name = `num_opcoes${questaoCount}`;
        inputOpcaoCont.id = `num_opcoes${questaoCount}`;

        const inputCheckbox = document.createElement('input');
        inputCheckbox.type = 'checkbox';
        inputCheckbox.className = 'form-check-input';
        inputCheckbox.id = `opcao1-${questaoCount}`;
        inputCheckbox.name = `opcoes${questaoCount}[]`;
        inputCheckbox.disabled = true;

        const inputTextOpcao = document.createElement('input');
        inputTextOpcao.type = 'text';
        inputTextOpcao.className = 'form-control input-text';
        inputTextOpcao.id = `opcao1-text-${questaoCount}`;
        inputTextOpcao.name = `opcao1-text-${questaoCount}`;
        inputTextOpcao.placeholder = 'Opção 1';

        divFormCheck.appendChild(inputCheckbox);
        divFormCheck.appendChild(inputTextOpcao);
        divFormCheck.appendChild(inputOpcaoCont);

        formGroupOpcoes.appendChild(labelOpcoes);
        formGroupOpcoes.appendChild(buttonAdicionarOpcao);
        formGroupOpcoes.appendChild(divFormCheck);

        const buttonRemoverQuestao = document.createElement('button');
        buttonRemoverQuestao.type = 'button';
        buttonRemoverQuestao.className = 'btn-remover';
        buttonRemoverQuestao.setAttribute('onclick', 'removerQuestao(this)');
        buttonRemoverQuestao.innerText = 'Remover Questão';

        cardBodyDiv.appendChild(formGroupQuestao);
        cardBodyDiv.appendChild(formGroupTipo);
        cardBodyDiv.appendChild(formGroupOpcoes);
        cardBodyDiv.appendChild(buttonRemoverQuestao);

        cardDiv.appendChild(cardBodyDiv);

        container.appendChild(cardDiv);

        document.getElementById('num_questoes').value = questaoCount;

        
    }


    function tipoQuestaoChange(select) {
        const questao = select.parentNode.parentNode;
        const questaoNumero = questao.querySelector('label').innerText.split(' ')[1][0];
        const opcoesDiv = questao.querySelector(`#opcoes${questaoNumero}`);
        const opcaoCheckbox = questao.querySelector(`#opcao1-${questaoNumero}`);
        const opcaoInput = questao.querySelector(`#opcao1-text-${questaoNumero}`);
        
        if (select.value === 'multipla_escolha') {
            opcoesDiv.style.display = 'block';
            opcaoCheckbox.disabled = false;
        } else {
            opcoesDiv.style.display = 'none';
            opcaoCheckbox.disabled = true;
            opcaoInput.value = '';  // Limpar o campo de texto se o tipo não for escolha múltipla
        }
    }

    function adicionarOpcao(questaoNumero) {
        const opcoesDiv = document.getElementById(`opcoes${questaoNumero}`);
        const opcaoCount = opcoesDiv.querySelectorAll('.form-check').length + 1;

        const divFormCheck = document.createElement('div');
        divFormCheck.className = 'form-check';

        const inputCheckbox = document.createElement('input');
        inputCheckbox.type = 'checkbox';
        inputCheckbox.className = 'form-check-input';
        inputCheckbox.id = `opcao${opcaoCount}-${questaoNumero}`;
        inputCheckbox.name = `opcoes${questaoNumero}[]`;
        inputCheckbox.disabled = true;

        const inputTextOpcao = document.createElement('input');
        inputTextOpcao.type = 'text';
        inputTextOpcao.className = 'form-control input-text';
        inputTextOpcao.id = `opcao${opcaoCount}-text-${questaoNumero}`;
        inputTextOpcao.name = `opcao${opcaoCount}-text-${questaoNumero}`;
        inputTextOpcao.placeholder = `Opção ${opcaoCount}`;

        divFormCheck.appendChild(inputCheckbox);
        divFormCheck.appendChild(inputTextOpcao);

        opcoesDiv.appendChild(divFormCheck);

        document.getElementById(`num_opcoes${questaoNumero}`).value = opcaoCount;

    }


    function removerQuestao(botao) {
        const questao = botao.parentNode.parentNode;
        questao.parentNode.removeChild(questao);

        // Atualizar os números das questões após a remoção
        const questoes = document.querySelectorAll('#questoes-container .card');
        questaoCount = 1;
        questoes.forEach((element) => {
            const label = element.querySelector('label');
            label.innerText = `Questão ${questaoCount}:`;
            questaoCount++;
        });
    }
</script>

</body>
</html>
