{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'formulario/respostas.css' %}">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
    
        <div class="card-info mt-3">
            <div class="title">
                <span class="icon-form"><i class="bi bi-check2-square"></i></span>
                <h4 class="title-text">
                    Respostas Recebida
                </h4>
            </div>
            <div class="data">
                <p>
                    {{ questoes.quantidade_resposta }}
                </p>
            </div>
        </div>

        {% if not questoes.items %}
            <div class="container">
                <h3>Nenhuma Resposta Recebida</h3>
            </div>
        {% endif %}
        
        {% for key, value in questoes.items %}
        {% if key != 'quantidade_resposta' %}
        <div class="card formulario mt-3 p-3">
            <h3><span class="counter">{{ forloop.counter0 }}.</span> {{value.questao.questao_texto}}</h3>
            {% if value.questao.questao_tipo == 'escolha_unica' %}
                    <div class="card-body">
                        <div class="col" style="width: 30%; margin: auto;">
                            <div id="pieChart{{ key }}"></div>
                        </div>
                    </div>
                <script>
                    window.addEventListener('load', function() {
                        criarGraficoPizza("pieChart{{ key }}", {{ value.opcoes|safe }}, {{ value.totais|safe }});
                    });
                </script>
            {% elif value.questao.questao_tipo == 'multipla_escolha' %}
                    <div class="col" style="width: 50%; margin: auto;">
                        <div id="barChart{{ key }}"></div>
                    </div>
                <script>
                    window.addEventListener('load', function() {
                        criarGraficoBarras("barChart{{ key }}", {{ value.opcoes|safe }}, {{ value.totais|safe }});
                    });
                </script>
            {% elif value.questao.questao_tipo == 'texto' %}
                    <div class="card-body"style="height: 20vh; overflow-y: auto;">
                        <table class="table">
                            {% for resposta in value.respostas %}
                                <tbody>
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ resposta }}</td>
                                </tr>
                                </tbody>
                            {% endfor %}
                          </table>
                    </div>
            {% elif value.questao.questao_tipo == 'true_false' %}
                    <div class="card-body">
                        <div class="col" style="width: 40%; margin: auto;">
                            <div id="doughnutChart{{ key }}"></div>
                        </div>
                    </div>
                <script>
                    window.addEventListener('load', function() {
                        criarGraficoDoughnut("doughnutChart{{ key }}", {{ value.opcoes|safe }}, {{ value.totais|safe }});
                    });
                </script>
            {% elif value.questao.questao_tipo == 'data' %}
                    <div class="card-body"style="height: 20vh; overflow-y: auto;">
                        <table class="table">
                            {% for resposta in value.respostas %}
                                <tbody>
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ resposta }}</td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
            {% elif value.questao.questao_tipo == 'numero' %}
                    <div class="card-body"style="height: 20vh; overflow-y: auto;">
                        <table class="table">
                            {% for resposta in value.respostas %}
                                <tbody>
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ resposta }}</td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>

    function criarGraficoPizza(id, opcoes, totais){
        let pizzaOpcoes = opcoes;
        let pizzaTotal = totais;
              
        var options = {
            series: pizzaTotal,
            chart: {
                width: 380,
                type: 'pie',
            },
            labels: pizzaOpcoes,
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                    width: 200
                    },
                    legend: {
                    position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.getElementById(id), options);
        chart.render();
    }

    function criarGraficoDoughnut(id, opcoes, totais){
        let doughnutOpcoes = opcoes;
        let doughnutTotal = totais;
        var options = {
          series: doughnutTotal,
          chart: {
          type: 'donut',
        },
        labels: doughnutOpcoes,
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.getElementById(id), options);
        chart.render();

    }

    function criarGraficoBarras(id, opcoes, totais){
        let barNome = opcoes;
        let barQuantidade = totais;
        var options = {
          series: [{
          data: barQuantidade
        }],
          chart: {
          type: 'bar',
          height: 350
        },
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: barNome,
        }
        };

        var chart = new ApexCharts(document.getElementById(id), options);
        chart.render();

    }

</script>
</html>