{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'formulario/responder_formulario.css' %}">
    <title>Responder</title>
</head>
<body>

<div class="container mt-5 formulario p-5">
    <h2 class="mb-4 titulo">{{ nome }}</h2>

    <div class="container questoes">
        <form id="resposta" method="post" action="{% url 'responder_formulario' formulario_id=formulario_id%}">
            {% csrf_token %}
            {% for questao in questoes %}
                <input type="hidden" name="questao_id" value="{{ questao.questao_id }}">
                <h3 class="mt-3"><span class="counter">{{ forloop.counter }}.</span> {{ questao.questao_texto }}</h3>
                {% if questao.tipo ==  'texto' %}
                    <div class="input-group input-group-sm mb-3">
                        <span class="span-text">T</span>
                        <input type="text" class="form-control input-text" name="resposta_{{ questao.questao_id }}" required>
                    </div>
                {% elif questao.tipo ==  'escolha_unica' %}
                <div class="radio-group">
                    {% for item in questao.itens %}
                        <input class="radio-input" type="radio" name="resposta_{{ questao.questao_id }}" id="{{ item }}" value="{{ item }}">
                        <label class="radio-label" for="{{ item }}">
                        <span class="radio-inner-circle"></span>
                        {{ item }}
                        </label>
                        <!-- <div class="form-check">
                            <input class="form-check-input" type="radio" name="resposta_{{ questao.questao_id }}" id="{{ item }}" value="{{ item }}">
                            <label class="form-check-label" for="{{ item }}">
                                {{ item }}
                            </label>
                        </div> -->
                    {% endfor %}
                </div>
                {% elif questao.tipo ==  'multipla_escolha' %}
                    {% for item in questao.itens %}
                    <div class="form-check">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="resposta_{{ questao.questao_id }}" id="{{ item }}" value="{{ item }}">
                            <label class="terms-label" for="{{ item }}">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 200 200" class="checkbox-svg">
                                <mask fill="white" id="path-1-inside-1_476_5-37">
                                  <rect height="200" width="200"></rect>
                                </mask>
                                <rect mask="url(#path-1-inside-1_476_5-37)" stroke-width="40" class="checkbox-box" height="200" width="200"></rect>
                                <path stroke-width="15" d="M52 111.018L76.9867 136L149 64" class="checkbox-tick"></path>
                              </svg>
                              <span class="label-text">{{ item }}</span>
                            </label>
                          </div>
                        <!-- <input class="form-check-input" type="checkbox" name="resposta_{{ questao.questao_id }}" id="{{ item }}" value="{{ item }}">
                        <label class="form-check-label" for="{{ item }}">
                            {{ item }}
                        </label> -->
                    </div>
                    {% endfor %}
                {% elif questao.tipo ==  'data' %}
                    <input type="date" name="resposta_{{ questao.questao_id }}" id="data" class="input-date">
                {% elif questao.tipo ==  'true_false' %}
                    <label class="radio-button">
                        <input type="radio" name="resposta_{{ questao.questao_id }}" id="sim" value="verdadeiro">
                        <span class="radio"></span>
                        Verdadeiro
                    </label>
                    
                    <label class="radio-button">
                        <input type="radio" name="resposta_{{ questao.questao_id }}" id="sim" value="falso">
                        <span class="radio"></span>
                        Falso
                    </label>
                {% elif questao.tipo ==  'numero' %}
                    <input type="number" name="resposta_{{ questao.questao_id }}">
                {% endif %}
            {% endfor %}

            <button type="submit" class="mt-4">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front text"> Responder
                </span>
            </button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
