{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'formulario/responder_formulario.css' %}">
    <title>Responder</title>
</head>
<body>

<div class="container mt-5 formulario p-5">
    <h2 class="mb-4 titulo">{{ nome }}</h2>

    <div class="container questoes">
        <form id="resposta" method="post" action="{% url 'responder_formulario' formulario_id=formulario_id%}">
            {% csrf_token %}
            {% for questao in questoes %}
                <input type="hidden" name="questao_id" value="{{ questao.questao_id }}">
                <h3 class="mt-3">{{ forloop.counter }}. {{ questao.questao_texto }}</h3>
                {% if questao.tipo ==  'texto' %}
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" name="resposta_{{ questao.questao_id }}">
                    </div>
                {% elif questao.tipo ==  'escolha_unica' %}
                    {% for item in questao.itens %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="resposta_{{ questao.questao_id }}" id="{{ item }}" value="{{ item }}">
                            <label class="form-check-label" for="{{ item }}">
                                {{ item }}
                            </label>
                        </div>
                    {% endfor %}
                {% elif questao.tipo ==  'multipla_escolha' %}
                    {% for item in questao.itens %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="resposta_{{ questao.questao_id }}" id="{{ item }}" value="{{ item }}">
                        <label class="form-check-label" for="{{ item }}">
                            {{ item }}
                        </label>
                    </div>
                    {% endfor %}
                {% elif questao.tipo ==  'data' %}
                    <input type="date" name="resposta_{{ questao.questao_id }}" id="data">
                {% elif questao.tipo ==  'true_false' %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="resposta_{{ questao.questao_id }}" id="sim" value="sim">
                        <label class="form-check-label" for="sim">
                            Verdadeiro
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="resposta_{{ questao.questao_id }}" id="nao" value="nao">
                        <label class="form-check-label" for="nao">
                            Falso
                        </label>
                    </div>
                {% elif questao.tipo ==  'numero' %}
                    <input type="number" name="resposta_{{ questao.questao_id }}">
                {% endif %}
            {% endfor %}

            <button type="submit" class="btn btn-primary mt-3">Responder</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
