<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        {% for key, value in questoes.items %}
            {% if value.questao.questao_tipo == 'escolha_unica' %}
                <div class="card">
                    <h3>{{value.questao.questao_texto}}</h3>
                    <div class="card-body">
                        <div class="col" style="width: 30%; margin: auto;">
                            <canvas id="pieChart{{ key }}"></canvas>
                        </div>
                    </div>
                </div>
                <script>
                    window.addEventListener('load', function() {
                        criarGraficoPizza("pieChart{{ key }}", {{ value.opcoes|safe }}, {{ value.totais|safe }});
                    });
                </script>
            {% elif value.questao.questao_tipo == 'multipla_escolha' %}
                <div class="card mt-5">
                    <h3>{{value.questao.questao_texto}}</h3>
                    <div class="col" style="width: 30%; margin: auto;">
                        <canvas id="barChart{{ key }}"></canvas>
                    </div>
                </div>
                <script>
                    window.addEventListener('load', function() {
                        criarGraficoBarras("barChart{{ key }}", {{ value.opcoes|safe }}, {{ value.totais|safe }});
                    });
                </script>
            {% endif %}
        {% endfor %}
    </div>
</body>
<script>

    function criarGraficoPizza(id, opcoes, totais){
        let pizzaOpcoes = opcoes;
        let pizzaTotal = totais;
        const pieChartCanvas = document.getElementById(id)
        new Chart(pieChartCanvas, {
            type: 'pie',
            data: {
                labels: pizzaOpcoes,
                datasets: [{
                    data: pizzaTotal,
                }]
            }
        });
    }

    function criarGraficoBarras(id, opcoes, totais){
        let barNome = opcoes;
        let barQuantidade = totais;
    
        const ctx = document.getElementById(id);
        
        new Chart(ctx, {
            type: 'bar',
            data: {
            labels: barNome,
            datasets: [{
                label: 'Respostas',
                data: barQuantidade,
                borderWidth: 1,
                barPercentage: 0.6, // Porcentagem da largura da barra em relação ao espaço disponível
                categoryPercentage: 1,
                backgroundColor: '#8502EB',
    
            }]
            },
            options: {
                indexAxis: 'y',
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        position: 'left', // Alinha os rótulos à esquerda
                        min: 0 // Garante que a escala comece em 0
                    },
                },
            }
        });

    }

</script>
</html>