{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'formulario/criar_formulario.css' %}">
    <title>Responder</title>
</head>
<body>

<div class="container mt-5 formulario p-5">
    <h2 class="mb-4 titulo">{{ nome }}</h2>

    <div class="container questoes">
        {% for questao in questoes %}
            <h3>{{ forloop.counter }}. {{ questao.questao_texto }}</h3>
            {% if questao.tipo ==  'texto' %}
            <input type="text" >
            {% elif questao.tipo ==  'escolha_unica' %}
            <select name="escolha_unica" id="escolha_unica">
                {% for item in questao.itens %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            {% elif questao.tipo ==  'multipla_escolha' %}
            <select multiple name="escolha_unica" id="escolha_unica">
                {% for item in questao.itens %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            {% elif questao.tipo ==  'data' %}
            <input type="date" name="data" id="data">
            {% elif questao.tipo ==  'true_false' %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="true_false" id="sim" value="sim">
                <label class="form-check-label" for="sim">
                    Sim
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="true_false" id="nao" value="nao">
                <label class="form-check-label" for="nao">
                    Não
                </label>
            </div>
            {% elif questao.tipo ==  'numero' %}
            <input type="number">
            {% endif %}
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
