*{
    font-family: 'Olswad', sans-serif;
}

body {
    background-color: #F3F3FE;
}

.formulario {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(160, 160, 160);
}


.card-questao {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(160, 160, 160);
    border-left: 6px solid #5264AE;
}

.pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
      to right,
      hsl(248, 39%, 39%) 0%,
      hsl(248, 39%, 49%) 8%,
      hsl(248, 39%, 39%) 92%,
      hsl(248, 39%, 29%) 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: hsl(248, 53%, 58%);
    padding: 16px 32px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .pushable:hover {
    filter: brightness(110%);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

  .btn-remover{
    background-color: transparent; /* Define o fundo transparente */
    border: none; /* Remove a borda */
    padding: 0; /* Remove o preenchimento interno */
    border-radius: 50px;
    width: 4%;
    height: 4%;
    position: relative;
    display: inline-block;
  }

  .btn-remover:hover {
    background-color: #9b9b9b05;
  }

  .btn-remover:focus {
    outline: none;
  }
   
  .btn-remover .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 100%;
   }
   
  .btn-remover .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }
   
   .btn-remover:hover .tooltiptext {
    visibility: visible;
   }

.botao-adicionar {
  background-color: transparent; /* Define o fundo transparente */
  border: none; /* Remove a borda */
  padding: 0; /* Remove o preenchimento interno */
  border-radius: 50px;
  width: 4%;
  height: 4%;
  position: relative;
  display: inline-block;
}

.form-group {
  position: relative;
}
   
.input-text {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}
   
   .input-text:focus {
    outline: none;
   }
   
   .label-texto {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input-text:focus ~ .label-texto, .input-text:valid ~ .label-texto {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 100%;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input-text:focus ~ .bar:before, .input-text:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input-text:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }

/* input questão */
.form-questao {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(46, 46, 46, 0.39);
  --border-after-color: #5264AE;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
 }
 /* styling of Input */
 .input-questao {
  color: var(--text-before-color);
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
 }
 /* styling of animated border */
 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }
 /* Hover on Input */
 .input-questao:hover {
  background: var(--input-hovered-color);
 }
 
 .input-questao:focus {
  outline: none;
 }
 /* here is code of animated border */
 .input-questao:focus ~ .input-border {
  width: 100%;
 }

.select-questao {
  border: none; /* Remove a borda padrão */
  border-bottom: 1px solid black; /* Adiciona uma borda inferior */
  padding: 5px;
  padding-bottom: 4px;
}

.form-control .select-questao:focus {
  border: none;
}