body{
  background-color: #F3F3FE;
}

.container {
    gap: 10px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgb(160, 160, 160);
    border-left: 5px solid #000; /* Adiciona uma borda preta de 5 pixels à esquerda do container */
    padding-left: 15px;

}

.title {
  font-size: 40px;
  padding-left: 0;
}


/* inputs */
.input-group {
  position: relative;
 }

 .input-group .nome {
  padding-right: 0;
 }

.input-group .sobrenome {
  padding-left: 0;
}
 
.input {
  border: solid 1.5px black;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #414141;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  width: 100%;
}
 
.user-label {
  position: absolute;
  left: 16px;
  color: black;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
 
 .input:focus, input:valid {
  outline: none;
  border: 1.5px solid #8c00ff;
 }
 
 .input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: white;
  padding: 0 .2em;
  color: #8c00ff;
 }