body {
    background-color: rgb(225, 233, 243);
}


.card {
    background-color: white;
    height: 15vh;
    margin: 5px;
}

section .container-form {
    background-color: white;
    display: flex;
    justify-content: center;
    color: rgb(209, 209, 209);
    border-radius: 5px;
    border: 1px solid white;
    height: 70vh;
    overflow-y: auto;
}
/* Estilizando o scroll */
/* Esconde a barra de rolagem padrão */

/* Estilo do track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo do track */
}

/* Estilo do thumb */
::-webkit-scrollbar-thumb {
    background: #888; /* Cor do thumb */
}

/* Mudando o estilo quando o usuário interage */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do thumb quando o usuário passa o mouse por cima */
}


.sidebar {
    background-color: white;
    height: 100vh;
    color: rgb(39, 35, 39);
    font-size: 18px;
    font-weight: bold;
}


.button-cadastrar {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
      to right,
      hsl(248, 39%, 39%) 0%,
      hsl(248, 39%, 49%) 8%,
      hsl(248, 39%, 39%) 92%,
      hsl(248, 39%, 29%) 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: hsl(248, 53%, 58%);
    padding: 16px 32px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .button-cadastrar:hover {
    filter: brightness(110%);
  }
  
  .button-cadastrar:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .button-cadastrar:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-cadastrar:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .button-cadastrar:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-cadastrar:focus:not(:focus-visible) {
    outline: none;
  }
  
  .container-cadastrar {
    align-items: center;
  }
  